$darkMainColour: #7777bb;
$darkBodyColour: #1e212d;
$darkTextColour: white;
$darkPlaceholderColour: white;

$brightMainColour: white;
$brightBodyColour: #7777bb;
$brightTextColour: #1e212d;
$brightPlaceholderColour: black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colour-page-background: #{$darkMainColour};
    --colour-body: #{$darkBodyColour};
    --colour-text: #{$darkTextColour};
    --colour-placeholder: #{$darkPlaceholderColour};
}

.bright-mode {
    --colour-page-background: #{$brightMainColour};
    --colour-body: #{$brightBodyColour};
    --colour-text: #{$brightTextColour};
    --colour-placeholder: #{$brightPlaceholderColour};
}

body {
    background: var(--colour-page-background);
    text-align: center;
}

header {
    font-size: 3rem;
    padding: 1.5rem;
    background: var(--colour-body);
    color: var(--colour-text);

    display: flex;
    justify-content: center;
    align-items: center;

    div{
        margin-left: auto;
    }

    #switch-toggle {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        background-color: lightgrey;
        border-radius: 20px;
    }

    #switch-toggle::after {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: white;
        top: 1px; // TO GIVE AN EFFECT OF CIRCLE INSIDE SWITCH
        left: 1px;
        transition: all 0.3s;
    }

    #switch-checkbox:checked + #switch-toggle::after {
        left: 20px;
    }

    #switch-checkbox:checked + #switch-toggle {
        background-color: darkgrey;
    }


    #switch-checkbox {
        display: none;
    }

}

main {
    margin-top: 2.4rem;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 10px;

    input {
        background: var(--colour-body);
        color: var(--colour-text);
        outline: none;
        border: none;
        border-radius: 5px;
        text-indent: 5%;
        padding: 10px;
    }
    
    ::placeholder {
        color: var(--colour-placeholder);
    }

    button {
        background: var(--colour-body);
        color: var(--colour-text);
        border-radius: 5px;
        outline: none;
        border: none;
        padding: 0 10px;
        cursor: pointer;
    }
}

.report-container{
    margin-top: 2.4rem;

    .card {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        border-radius: 5px;
        background: var(--colour-body);
        color: var(--colour-text);
        max-width: 350px;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 1rem;
        gap: 1rem;
        font-size: 1.2rem;

        p:first-child{
            font-size: 2em;
        }

        p:nth-child(2) {
            font-size: 1.5em;
        }
    }
}